/* 1024 - 1229 */
@media screen and (max-width: 1229px){
    .menu {
        margin: 0;
    }

    .header__container,
    .main__container,
    .footer__container,
    .order__container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main__image {
        max-width: 400px;
    }

    .main__image img {
        max-width: 100%;
    }

    .product {
        margin: 12px;
    }

    .products__items {
        justify-content: center;
    }

    .order__image {
        width: 200px;
    }
}

/* 768- 1023 */
@media screen and (max-width: 1023px){
    .menu {
        width: 420px;
    }

    .main__container {
        flex-direction: column;
        padding-top: 70px;
    }

    .main__info {
        order: 2;
    }

    .main__info .title {
        text-align: center;
    }

    .main__action {
        text-align: center;
    }

    .main__image {
        order: 1;
        margin-bottom: 30px;
    }

    .products__container {
        padding-top: 70px;
    }

    .products__items {
        margin-top: 20px;
    }

    .order__container {
        padding-top: 50px;
        position: relative;
        justify-content: center;
    }

    .order__form {
        margin-left: 20px;
    }

    .order__image {
        position: absolute;
        z-index: -1;
        right: calc(50% - 400px);
    }

    .order__image .img {
        position: static;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px){
    .header__container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header__cart {
        margin-left: 20px;
    }

    .menu .menu__item {
        margin: 0 5px;
    }

    .menu {
        order: 3;
        margin-top: 15px;
        flex-basis: 100%;
        justify-content: center;
    }

    .footer__rights {
        margin: 0;
    }

    .footer__container {
        justify-content: space-between;
    }

    .main__info .title {
        line-height: 45px;
    }

    .order__container {
        flex-wrap: wrap;
        text-align: center;
    }

    .medium-title {
        line-height: 35px;
    }

    .order__message {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .order__form {
        margin: 0 10px;
    }

    .order__image {
        right: calc(50% - 200px);
    }

    .order__hidden-block-form {
        background: white;
        opacity: .9;
    }
}

@media screen and (max-width: 649px){
    .main__advantages {
        max-width: 300px;
        margin: 0 auto;
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px){
    .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding-top: 30px;
        background: #000000d9;
        top: 0;
        left: 0;
    }

    .header__burger {
        display: block;
        margin-right: 20px;
    }

    .header__burger svg {
        width: 36px;
        height: 36px;
        fill: #f9d6a6;
    }

    .menu.open {
        display: flex;
    }

    .menu .menu__close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(164, 107, 0);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu .menu__item {
        margin: 17px 5px;
    }
}

/* 0 - 374 */
@media screen and (max-width: 374px){
    .main__info .title {
        font-size: 38px;
    }

    .order__form .input {
        width: 250px;
    }

    .footer__rights {
        margin-left: 10px;
    }
}